.glass-footer {
  width: 100%;
  padding: 1.5em;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(14px) saturate(180%);
  -webkit-backdrop-filter: blur(14px) saturate(180%);
  color: #e0eaff;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: 1em;
}

.glass-footer a {
  color: #54ACBF;
  margin: 0 1rem;
  text-decoration: none;
}

.glass-footer a:hover {
  color: #A7EBF2;
}

